---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterClass: true
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false